@font-face {
    font-family: 'Moontime';
    src: url('fonts/Moontime-Font/MoonTime-Regular.otf') format('opentype'),
         url('fonts/Moontime-Font/MoonTime-Regular.ttf') format('truetype');
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Alice', sans-serif;
    display: block;
    background-color: #f5eddd;
    color: #82401d;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5eddd;
    position: fixed;
    width: 100%;
    top: 0;
}

.bandeau-haut {
    background-image: url(Img/Bandeau.jpg);
    background-size: 100% auto;
    background-position: 80% 53%;
    cursor: pointer;
    color: black;
    height: 200px;
    margin: 0;
    width: 100%;
    border-bottom: 5px solid #c4a591;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    flex-direction: column;
    padding-bottom: 10px;
}

.bandeau-haut .logo {
    background-color: #f5eddd;
    width: 200px;
    padding-right: 10px;
    margin-right: 10px;
    size: 50px;
    background-repeat: no-repeat;
}

.bandeau-haut p {
    font-family: 'Alice', sans-serif;
    color: black;
    margin: 0;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: #f5eddd;
    width: 200px;
}

nav {
    top: 200px;
    width: 100%;
    z-index: 1000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5eddd;
    border-bottom: 5px solid #c4a591;
}

nav a {
    color: black;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;
}

nav a:hover {
    font-size: 38px;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    text-align: center;
}

h1 {
    font-size: 75px;
    font-family: 'Great Vibes', sans-serif;
    margin: 10px;
    margin-top: 20px;
}

.bouton-photo {
    display: inline-block;
    margin: 5px;
    font-size: 24px;
    color: #82401d;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: background-size 0.3s ease;
}

.image-catalogue {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.button-text {
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid #c4a591;
    height: 65px;
}

.texte {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2px;
}

.texte p {
    font-family: 'Alice', sans-serif;
    color: black;
    margin: 0;
    margin-left: 10px;
    background-color: #f5eddd;
    width: 200px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    .main {
        margin-left: 5%;
        margin-right: 5%;
    }

    nav a {
        font-size: 25px;
    }
}

@media screen and (max-width: 480px) {
    .main {
        margin-left: 3%;
        margin-right: 3%;
    }

    nav a {
        font-size: 20px;
    }
}
