@font-face {
    font-family: 'Moontime';
    src: url('fonts/Moontime-Font/MoonTime-Regular.otf') format('opentype'), /* Pour les fichiers OTF */
         url('fonts/Moontime-Font/MoonTime-Regular.ttf') format('truetype'); /* Pour les fichiers TTF */
    /* Ajoutez ici d'autres déclarations comme font-weight ou font-style si nécessaire */
}

html {
    position: relative;
    min-height: 100%;
}

:root{
    --clair: #f5eddd;
    --intermediare: #C4A591;
    --fonce: #82401d;
}

a  {
    text-decoration: none; /* Supprime la soulignement par défaut du lien */
    cursor: pointer; /* Curseur de souris de type pointer */
}

body{
    font-family: 'Alice', sans-serif;
    display: block;
    background-color: var(--clair);
    color:var(--fonce);
    margin: 0px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden; /* Pour éviter le débordement horizontal */
}

header {
    position: relative;
    z-index: 1003;
    display: flex; /* Utilisez flexbox pour aligner les éléments horizontalement */
    flex-direction: column; /* Empilez les éléments verticalement */
    align-items: center; /* Centrez les éléments horizontalement */
    background-color: var(--clair);
    position: fixed;
    width: 100%; /* Fait en sorte que la navigation occupe toute la largeur */
    top: 0px;
}

.bandeau-haut {
    background-image: url(Img/Bandeau.jpg);
    background-size: 100% auto;
    background-position-y: 53%;
    background-position-x: 80%;
    cursor: pointer;
    color: black;
    height: 200px;
    margin: 0;
    width: 100%;
    border-bottom: 3px solid var(--intermediare);
    display: flex; /* Utiliser Flexbox */
    align-items: flex-end; /* Aligner verticalement au bas */
    justify-content: flex-end; /* Aligner horizontalement à droite */
    text-align: right; /* Aligner le contenu à droite */
    flex-direction: column; /* Pour afficher les éléments verticalement */
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 1002;
}

.bandeau-haut .logo{
    background-color: var(--clair);
    width: 200px;
    padding-right: 10px;
    margin-right: 10px;
    size:50px;
    background-repeat: no-repeat; /* Empêcher la répétition du fond */
}

.bandeau-haut p{
    font-family: 'Alice', sans-serif;
    color: black;
    margin: 0px;
    margin-right: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: var(--clair);
    width: 200px
}


nav {
    top: 200px; /* Positionne la navigation 200px en bas du haut de la fenêtre */
    width: 100%; /* Fait en sorte que la navigation occupe toute la largeur */
    z-index: 1001; /* Assure que la navigation reste au-dessus du contenu */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clair);
    width: 100%;
    border-bottom: 3px solid var(--intermediare);
}

nav a{
    color: black;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

nav a:hover{
    font-size: 18px;
}

.nav-tel{
    display: none;
}

.nav-tel .logo{
    position: absolute;
    top: 165px;
    left: 50px;
    height: 35px;
}
.nav-tel .menu-hamburger{
    position: absolute;
    top: 167px;
    left: 10px;
    width: 35px;
}


.main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 260px;
    text-align: center;
    margin-bottom: 75px; /* Hauteur du footer */
}

body .main-colonne{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 75px;
    font-family: 'Great Vibes', sans-serif;
    margin: 2px;
    margin-top: 20px;
}

.presentation-chogan p{
    text-align: left;
    margin: 5px 0;
}

.presentation-chogan img{
    margin: 20px 0;
    border: 2px solid var(--fonce);
}

.presentation-chogan{
    margin-bottom: 40px;
}

.bouton-accueil {
    z-index: 998;
    position: relative;
    display: inline-block; /* Affiche le lien comme un bloc */
    margin: 0.22%;
    font-size: 24px;
    color: var(--fonce);
    border: none; /* Supprime le style de bordure par défaut du lien */
    padding: 10px 20px; /* Ajoute un espacement interne pour le texte */
    text-align: center; /* Centre le texte horizontalement */
    text-decoration: none; /* Supprime la soulignement par défaut du lien */
    cursor: pointer; /* Curseur de souris de type pointer */
    width: 100%  ;
    height: 150px;
    overflow: hidden; /* Cache toute partie de l'image qui dépasse du cadre */
    transition: background-size 0.3s ease; /* Ajoute une transition fluide */
    color: var(--clair);
}

.bouton-accueil .texte {
    position: absolute;
    text-align: left; /* Pour centrer le texte horizontalement */
}

.bouton-catalogues{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/catalogues.jpg);
    background-size: 120% auto;
    background-position-y: 70% ;
    background-position-x: 100%;  
}

.bouton-guides{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/guides.jpg);
    background-size: 100% auto;
    background-position-y: 50% ;
    background-position-x: center;  
}


.bouton-photo {
    z-index: 998;
    position: relative;
    display: inline-block; /* Affiche le lien comme un bloc */
    margin: 0.22%;
    font-size: 24px;
    color: var(--fonce);
    border: none; /* Supprime le style de bordure par défaut du lien */
    padding: 10px 20px; /* Ajoute un espacement interne pour le texte */
    text-align: center; /* Centre le texte horizontalement */
    text-decoration: none; /* Supprime la soulignement par défaut du lien */
    cursor: pointer; /* Curseur de souris de type pointer */
    width: 300px  ;
    height: 300px;
    overflow: hidden; /* Cache toute partie de l'image qui dépasse du cadre */
    transition: background-size 0.3s ease; /* Ajoute une transition fluide */
    color: var(--clair);
}

.bouton-photo .texte {
    position: absolute;
    text-align: left; /* Pour centrer le texte horizontalement */
}


.bouton-parfums{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/Flacon-parfum-femme.jpg);
    background-size: 140% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-parfums:hover {
    background-size: 150%;
}

.bouton-rechargeable{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/rechargeable.jpg);
    background-size: 120% auto;
    background-position-y: 55% ;
    background-position-x: center;
    color: var(--clair);
}

.bouton-rechargeable:hover {
    background-size: 130%;
}

.bouton-ambiance{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/ambiance.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center;
}

.bouton-ambiance:hover {
    background-size: 110%;
}

.bouton-autres{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/autres.jpg);
    background-size: 120% auto;
    background-position-y: 42% ;
    background-position-x: center;
}

.bouton-autres:hover {
    background-size: 130%;
}

.bouton-solaire{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/solaire.jpg);
    background-size: 120% auto;
    background-position-y: 42% ;
    background-position-x: center;
}

.bouton-solaire:hover {
    background-size: 130%;
}

.bouton-shampoing{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/shampoing.jpg);
    background-size: 150% auto;
    background-position-y: 42% ;
    background-position-x: center;
}

.bouton-shampoing:hover {
    background-size: 160%;
}

.bouton-make-up{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/make-up.jpg);
    background-size: 100% auto;
    background-position-y: 55% ;
    background-position-x: center;
}

.bouton-make-up:hover {
    background-size: 110%;
}

.bouton-menager{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/menager.jpg);
    background-size: 100% auto;
    background-position-y: 55% ;
    background-position-x: center;
}

.bouton-menager:hover {
    background-size: 110%;
}

.bouton-bijoux{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/bijoux.jpg);
    background-size: 100% auto;
    background-position-y: 55% ;
    background-position-x: center;
}

.bouton-bijoux:hover {
    background-size: 110%;
}
.bouton-cosmetique{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/cosmetique.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-cosmetique:hover {
    background-size: 150%;
}

.bouton-huiles-essentielles{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/huiles-essentielles.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-huiles-essentielles:hover {
    background-size: 150%;
}

.bouton-routine{
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/routine.jpg);
    background-size: 325% auto;
    background-position-y: 30% ;
    background-position-x: 82%;
}

.bouton-routine:hover {
    background-size: 355%;
}

.bouton-famille{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/famille.jpg);
    background-size: 130% auto;
    background-position-y: 50% ;
    background-position-x: 80%;
}

.bouton-famille:hover {
    background-size: 140%;
}

.bouton-concentration{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%),url(Img/concentration.jpg);
    background-size: 150% auto;
    background-position-y: 50% ;
    background-position-x: 50%;
}

.bouton-concentration:hover {
    background-size: 160%;
}

.button-text {
    width: 500px;
    top: 50%; /* Place le texte au milieu verticalement */
    left: 50%; /* Place le texte au milieu horizontalement */
    transform: translate(-50%, -50%); /* Centre le texte par rapport au milieu du bouton */
    z-index: 1; /* Assure que le texte est au-dessus de l'image de fond */
}


.bouton-menager-vaisselle{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-vaisselle.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-vaisselle:hover {
    background-size: 110%;
}

.bouton-menager-assainissant{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-assainissant.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-assainissant:hover {
    background-size: 110%;
}

.bouton-menager-linge{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-linge.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-linge:hover {
    background-size: 110%;
}

.bouton-menager-sdb{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-sdb.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-sdb:hover {
    background-size: 110%;
}

.bouton-menager-vitres{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-vitres.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-vitres:hover {
    background-size: 110%;
}

.bouton-menager-cuisine{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-cuisine.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-cuisine:hover {
    background-size: 110%;
}

.bouton-menager-sol{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-sol.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-sol:hover {
    background-size: 110%;
}

.bouton-menager-accessoires{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/menager-accessoires.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-menager-accessoires:hover {
    background-size: 110%;
}

.bouton-cosmetique-corps{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/cosmetique-corps.jpg);
    background-size: 110% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-cosmetique-corps:hover {
    background-size: 120%;
}

.bouton-cosmetique-visage{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/cosmetique-visage.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-cosmetique-visage:hover {
    background-size: 110%;
}

.bouton-cosmetique-cheveux{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/cosmetique-cheveux.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-cosmetique-cheveux:hover {
    background-size: 110%;
}

.bouton-cosmetique-pommades{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/cosmetique-pommades.jpg);
    background-size: 110% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-cosmetique-pommades:hover {
    background-size: 120%;
}

.bouton-cosmetique-animaux{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/cosmetique-animaux.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-cosmetique-animaux:hover {
    background-size: 110%;
}


.bouton-make-up-visage{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/make-up-visage.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-make-up-visage:hover {
    background-size: 110%;
}

.bouton-make-up-yeux{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/make-up-yeux.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-make-up-yeux:hover {
    background-size: 110%;
}

.bouton-make-up-ongles{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/make-up-ongles.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-make-up-ongles:hover {
    background-size: 110%;
}

.bouton-make-up-levres{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.62) 100%), url(Img/make-up-levres.jpg);
    background-size: 100% auto;
    background-position-y: 15% ;
    background-position-x: center; 
}

.bouton-make-up-levres:hover {
    background-size: 110%;
}

.image-catalogue{
    width: 80%; /* l'image prend 80% de la largeur du conteneur */   
}

footer {
    position: absolute;;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid var(--intermediare);
    height: 65px;
}

.texte {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2px;
}

.texte p {
    font-family: 'Alice', sans-serif;
    color: black;
    margin: 0;
    margin-left: 10px; /* Espacement entre le logo et les textes */
    background-color: var(--clair);
    width: 200px; /* Largeur des textes */
    
}

.nav-links.mobile-menu{
    margin-left: 0;
    padding-left: 50px;
}

button {
    font-family: 'Alice', sans-serif;
    font-size: 35px;
    color: black;
    background-color: var(--clair);
    border: var(--intermediare) solid 2px;
    margin: 20px;
    cursor: pointer;
}

.texte-vendeur h1{
    padding-top: 20px;
    font-size: 60px;
}

.texte-vendeur .contactez-moi{
    text-decoration: underline;
}

.texte-vendeur p{
    font-size: 30px;
}

@media screen and (max-width: 900px) {
    .main{
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 210px;
    }

    .bandeau-haut {
        height: 155px;
        background-size:900px auto ;
        background-position-x: 80%;
    }

    .nav-links{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 0px;
        top: 200px;
        left: 0px;
        background-color:rgba(245, 237, 221, 0.6);
        backdrop-filter: blur(7px); 
        margin-left: -150%;
        transition: all 0.5s ease;
    }

    .nav-links a{
        margin: 15px 0;
    }

    .nav-tel{
        display: block;
        z-index: 999;
        border-bottom: 3px solid var(--intermediare);    
    }

    .presentation-chogan img{
        width: 90%;
        height: auto;
    }

    .bouton-photo {
        width: 90%;
        height: 100px;
        margin: 5px 0px;
    }

    h1{
        font-size: 40px;
    }

    .bouton-parfums{
        background-position-y: 25% ;
    }

    .bouton-ambiance{
        background-position-y: 50% ;
    }

    .texte-vendeur h1{
        padding-top: 20px;
        font-size: 40px;
    }
    
    .texte-vendeur p{
        font-size: 20px;
    }
    

}
